# Atsiskaitymas iš Pandas

In [119]:
import pandas as pd
import numpy as np
import seaborn as sns

titanic = sns.load_dataset('titanic')[['survived', 'pclass', 'sex', 'age', 'fare']]

titanic yra duomenų rinkinys apie dalį Titaniko keleivių - jų amžių, lytį, bilieto klasę ir kainą, bei ar jie išgyveno tragediją.

Stulpeliai, kuriuos naudosime:

    survived - ar keleivis išgyveno (1 reiškia taip, 0 reiškia ne)
    pclass - keleivio bilieto klasė (pirma, antra, trečia)
    sex - keleivio lytis
    age - keleivio amžius. Jei keleivio amžius < 1, tuomet dešimtainė trupmena (pavyzdžiui 0.75 reiškia, kad keleiviui buvo 9 mėnesiai), jei keleivio amžius žinomas tik apytiksliai, tuomet po kablelio yra 5 (pavyzdžiui 28.5 reiškia, kad keleiviui buvo apytiksliai 28 metai).
    fare - kaina doleriais, kurią keleivis sumokėjo už bilietą

Visi klausimai bus tik apie šį dataframe (titanic), todėl klausimų formuluotėse tai nebus kartojama.

Testui skirtas laikas - 90 minučių

In [1]:
# 1. (1t)
# Atspausdinkite pirmas 10 eilučių

In [2]:
# 2. (1t)
# Kiek eilučių ir stulpelių yra iš viso?

In [3]:
# 3. (1t)
# Atspausdinkite tik stulpelius 'age' ir 'fare'

In [4]:
# 4. (1t)
# Atspausdinkite tik tas eilutes, kurių keleiviai plaukė pirmąja klase

In [5]:
# 5. (1t)
# Kokia buvo vidutinė bilieto kaina, koks vidutinis keleivių amžius?

In [6]:
# 6. (2t)
# Sukurkite naują stulpelį 'adult', kurio reikšmė būtų True,
# jei keleivio amžius yra didesnis arba lygus 18 ir False, kitu atveju

In [7]:
# 7. (2t)
# Kiek metų buvo vyriausiam vyrui laive?

In [8]:
# 8. (1t)
# Kiek iš viso plaukė moterų ir kiek vyrų?

In [9]:
# 9. (3t)
# Pakeiskite stulpelį 'pclass' taip,
# kad vietoje 1 būtų reikšmė 'first',
# vietoje 2 būtų 'second',
# o vietoje 3 būtų 'third'

In [10]:
# 10. (2t)
# Kiek vidutiniškai už bilietą mokėjo vyrai ir moterys kiekvienoje klasėje?
# Ar teisinga teigti, kad visose trijose klasėse plaukusios moterys už bilietus mokėjo daugiau nei vyrai?

In [12]:
# 11. (6t)
# Kiek žmonių plaukė kiekvienoje klasėje ir kiek iš jų išgyveno?
# Kiek procentų kiekvienos klasės keleivių išgyveno?
# Ar teisinga teigti, kad aukštesnėje klasėje plaukę keleiviai turėjo didesnę tikimybę išgyventi?
# (Viename iš sprendimo būdų gali praversti funkcija np.size())

In [13]:
# 12. (1t)
# Pervadinkite stulpelį 'pclass' į 'class'

In [14]:
# 13. (2t)
# Sukurkite naują DataFrame 'titanic_known_age',
# kuriame būtų tik tos titanic eilutės, kuriose netrūksta amžiaus reikšmės

In [15]:
# 14. (2t)
# Išrikiuokite lentelę pagal amžių mažėjimo tvarka
# Padarykite taip, kad trūkstamos (NaN) reikšmės būtų viršuje (+1t)

In [16]:
# 15. (1t)
# Išsaugokite kurią nors lentelę į csv failą pavadinimu 'rezultatas.csv'

In [19]:
# 16. (3t)
# Paaiškinkite kaip veikia ir ką padaro šis kodas
titanic.groupby((titanic['age']//10)*10)['survived'].apply(lambda x: round(sum(x)/len(x)*100, 1))